# Flutter build & tooling
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.melos_tool/

# macOS build
macos/Flutter/ephemeral/
macos/Flutter/FlutterMacOS.framework/

# Windows build
windows/Flutter/ephemeral/
windows/Flutter/FlutterWindows.framework/

# Linux build
linux/Flutter/ephemeral/
linux/Flutter/FlutterLinux.framework/

# IDE config
.idea/
*.iml


