**/build/
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-version
.idea/
.vscode/
*.iml
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
android/.gradle/
android/app/build/
android/local.properties
macos/Flutter/ephemeral/
macos/Flutter/Flutter.framework/
macos/Flutter/Flutter.podspec
.DS_Store
